index.html.erb
<div class="container">
  <div>
    <h1>available characters</h1>
      <% @characters.each do |character| %>
        <p> <%= character.name %> </p>
        <br>
      <% end %>
    <div>

    </div>
  </div>

  <div>
     <%= link_to "Add a new character", new_character_path %>
  </div>
</div>
